/* Product page css */

.showcase-product {
    color: #000;
    height: auto;
    background-color: var(--primary-color);
    position: relative;
  }
  
  .showcase-product h1 {
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
  }
  .showcase-product-text p {
    font-family: Kalam;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 20px;
  }
  
  .showcase-product .product-image {
    padding: 0px;
    object-fit: none;
  }
  
  .showcase-product-price {
    font-size: 20px; 
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;



  }

/*Catalog Page*/


  .product-grid{
    padding: 10px;
    display: inline-grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: var(--primary-color);
  


  }

.product-image{
  width: 100%;
}

.product-item{
    background-color: var(--primary-color);
    border: 1px solid black;
    padding: 10px;
    text-align: center;

  }

  